$base-line-color: #FFBAD2;

$body-bg-color: #222;
$header-bg-color: #000;

$header-trim-bg-color: #000;// #5C604D;

$subheading-font-color: #F20056;
//$subheading-font-color: #A3AE7E;

$tabs-bg-color: #E5E7E1;
//$tabs-bg-color: #c9ccc6;//TMP
$tabs-font-color: #444;
$tabs-link-color: #CCC;

$tab-hover-font-color: #A3AE7E;

$subnav-font-color: #444;
$subnav-bg-color: #BBB;
$subnav-bg-color2: #AAA;
$subnav-line-color: #777;

$content-font-color: #444;
$content-section-bg-color: #EEE;
$img-border-color: #BBB;

//$submit-msg-bg-color: #A3AE7E;
$submit-msg-bg-color: #BBB;
$submit-msg-font-color: #F20056; 

$error-bg-color:  #F20056;

$links-color: #F20056;
$links-color-2: #c9ccc6;

$copyright-font-color: #777;

